# elif

In [1]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# Else

* The else keyword catches anything which isn't caught by the preceding conditions.

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

# Nested if
* You can have if statements inside if statements, this is called nested if statements.

In [6]:
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# Function

In [7]:
def my_function():
  print("Hello world")
my_function()

Hello world

# Calling function by passing argument
* Information can be passed into functions as arguments.

In [12]:
def my_function(name , lname):
  print(name + " " + lname)
my_function("Kappi", "joshi")
my_function("Chom", "Chomya")
my_function("Dev", "Mude")

Kappi joshi
Chom Chomya
Dev Mude

# Passing list as argument
* You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

In [18]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

# Return Statement
* To let a function return a value, use the return statement:

In [19]:
def my_function(x):
  return 2 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

6
10
18

# Create a function operation join text
* Joins a list of strings into a single string with the specified delimiter.

In [29]:
def join_text(strings, delimiter=" "):
        return delimiter.join(strings)
words = ["Python", "is", "a", "programming", "language"]
jt = join_text(words, ", ")
print("Joined text:", jt)

Joined text: Python, is, a, programming, language

# Create a function using Trim operation
* Removes leading and trailing whitespace from a string.

In [34]:
def trim_text(text):
    return text.strip() 
text_with_spaces = "   Hello , Python!   "
trimmed_text = trim_text(text_with_spaces)
print("Trimmed text:", trimmed_text)

Trimmed text: Hello , Python!

# Creating a function using Substitute operation
* Replaces all occurrences of a substring with another substring.

In [35]:
def substitute_text(text, old, new):
    return text.replace(old, new)
original_text = "Python is a great programming language. Python is popular."
substituted_text = substitute_text(original_text, "Python", "JavaScript")
print("Substituted text:", substituted_text)

Substituted text: JavaScript is a great programming language. JavaScript is popular.

# Create a function using cut and return  specific position of string
* Extracts a substring from a string given start and end positions.

In [40]:
def get_substring(text, a, b):
    return text[a:b]
t1 = "Python programming is fun!"
substring = get_substring(t1, 7, 18)
print("Substring:", substring)

Substring: programming