# For loop
* A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [14]:
lFruit = ['banana','mango','grapes','pineapple','watermelon',
          'orange','apple','avacado','dragonfruit','chiku','Anaar']
print(lFruit)
for x in lFruit:
    print(x)
    
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

['banana', 'mango', 'grapes', 'pineapple', 'watermelon', 'orange', 'apple', 'avacado', 'dragonfruit', 'chiku', 'Anaar']
banana
mango
grapes
pineapple
watermelon
orange
apple
avacado
dragonfruit
chiku
Anaar
apple
banana

# continue statement
* With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# Range
* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

# Range
* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [23]:
for x in range(2,20,2):
  print(x)

2
4
6
8
10
12
14
16
18

In [24]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

# Nested Loop
* A nested loop is a loop inside a loop.

In [25]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# while loop
* With the while loop we can execute a set of statements as long as a condition is true.

In [26]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [27]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [28]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# Lambda
* A lambda function can take any number of arguments, but can only have one expression.

In [32]:
l1 = list(range(1,6,2))
print(f'l1 = {l1}')

l1 = [1, 3, 5]

# Create an example of while, for, map, filter of list

In [2]:
student = [
    {"name": "Alice", "age": 30, "city": "New York"},
    {"name": "Bob", "age": 25, "city": "Los Angeles"},
    {"name": "Charlie", "age": 35, "city": "Chicago"},
    {"name": "David", "age": 28, "city": "New York"},
    {"name": "Eve", "age": 22, "city": "Los Angeles"}
]
print(student)

[{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}, {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}, {'name': 'David', 'age': 28, 'city': 'New York'}, {'name': 'Eve', 'age': 22, 'city': 'Los Angeles'}]

# While loop

In [5]:
index = 0
while index < len(student):
    print(student[index]['name'])
    index += 1

Alice
Bob
Charlie
David
Eve

In [8]:
index = 0
while index <len(student):
    print(student[index]['age'])
    index += 1

30
25
35
28
22

# For loop

In [16]:
week = [
    {"week": "monday", "activity": "gym"},
    {"week": "tuesday", "activity": "swimming"},
    {"week": "wednesday", "activity": "yoga"},
    {"week": "thursday", "activity": "running"},
    {"week": "friday", "activity": "cycling"},
    {"week": "saturday", "activity": "hiking"},
    {"week": "sunday", "activity": "rest"}
]
print(week)

[{'week': 'monday', 'activity': 'gym'}, {'week': 'tuesday', 'activity': 'swimming'}, {'week': 'wednesday', 'activity': 'yoga'}, {'week': 'thursday', 'activity': 'running'}, {'week': 'friday', 'activity': 'cycling'}, {'week': 'saturday', 'activity': 'hiking'}, {'week': 'sunday', 'activity': 'rest'}]

In [26]:
for val in week:
    if val['week'] == 'sun':
        print(val)
    elif val['week'] == 'monday':
        print('It is gym')
    elif val['week'] == 'mon':
        print('It is swimming')
    elif val['week'] == 'tue':
        print('It is yoga')
    elif val['week'] == 'thursday':
        print('It is act')
    else:
        print('Holidays')

It is gym
Holidays
Holidays
It is act
Holidays
Holidays
Holidays

In [29]:
for val in week:
    if val['week'] == 'monday':
        print(val)

{'week': 'monday', 'activity': 'gym'}

# map

In [40]:
up = list(map(lambda person: person['name'].upper(), student))
print(up)
lp = list(map(lambda person: person['city'].lower(), student))
print(lp)

['ALICE', 'BOB', 'CHARLIE', 'DAVID', 'EVE']
['new york', 'los angeles', 'chicago', 'new york', 'los angeles']

# Filter

In [44]:
op = list(filter(lambda person: person['age'] >= 30, student))
print(op)

[{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}]

In [55]:
c1 = list(filter(lambda person: person['city'] == 'New York', student))
print(c1)

[{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'David', 'age': 28, 'city': 'New York'}]