In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome()
page_url='https://www.naukri.com/data-analyst-jobs?k=data%20analyst&experience=0'
driver.get(page_url)
time.sleep(3)

In [3]:
driver.find_element(By.XPATH, '/html/body/div/div/main/div[2]/div/button').click()

In [4]:
dict_={'role':[],'company_name':[],'work_experience':[],'location':[],'skills':[],'post_date':[]}

In [5]:
soup = BeautifulSoup(driver.page_source,'html.parser')

In [6]:
jobs=soup.find_all('div',class_="srp-jobtuple-wrapper")[0]

In [7]:
job_title_1 = jobs.find('a').text
job_title_1

'DATA ANALYST'

In [8]:
# Company_name
comp_name_1 = jobs.find_all('a')[1].text
comp_name_1

'Competitive Crackers'

In [9]:
# Work Experience
experience_1 = jobs.find('span', class_='expwdth').text
experience_1

'0-3 Yrs'

In [10]:
skill = jobs.find_all('li')
skill
skill_1 = []
for i in jobs.find_all('li'):
    skill_1.append(i.text)

In [11]:
skill_1

['metadata',
 'python',
 'data analysis',
 'data management',
 'data analytics',
 'data validation',
 'configuration',
 'data mining']

In [12]:
post_date_=jobs.find('span',class_='job-post-day')
post_date_

In [13]:
# jobs

In [14]:
for i in range(1,10):
    
    driver.find_element(By.LINK_TEXT,f'{i}').click()
    time.sleep(3)
    soup = BeautifulSoup(driver.page_source,'html.parser')
    jobs=soup.find_all('div',class_="srp-jobtuple-wrapper")

    for job in jobs:
        # link_=job.find('a').get('href')
        role_=job.find('a').text
        comp_name_=job.find_all('a')[1].text
        exp_=job.find('span',class_='expwdth')
    
        if exp_==None:
            dict_['work_experience'].append(None)
        else:
            dict_['work_experience'].append(exp_.text)
        
        location_=job.find('span',class_='locWdth')    
        if location_==None:
            dict_['location'].append(None)
        else:
            dict_['location'].append(location_.text)    
    
        skill=job.find_all('li')
        skill1=[]
        for i in skill:
            skill1.append(i.text)
            
        post_date_=job.find('span',class_='job-post-day').text
    
        dict_['role'].append(role_)
        dict_['company_name'].append(comp_name_)
        dict_['skills'].append(skill1)
        dict_['post_date'].append(post_date_)

In [15]:
# dict_

In [16]:
df=pd.DataFrame(dict_)

In [17]:
df

,role,company_name,work_experience,location,skills,post_date
0,DATA ANALYST,Competitive Crackers,0-3 Yrs,Kakinada,"[metadata, python, data analysis, data managem...",Few Hours Ago
1,Data Analyst,Business Toys,0-1 Yrs,"Hyderabad, Chennai, Bengaluru","[python, data analysis, sas, power bi, busines...",1 Day Ago
2,Data Analyst(0 Experience Required),Peroptyx,0-5 Yrs,Remote,"[Data Analysis, Data Analytics, Data Mapping, ...",3 Days Ago
3,Data Analyst,Outscal Technologies,0-3 Yrs,Remote,"[Data Visualization, Tableau, Python, SQL, Dat...",2 Days Ago
4,ESG Data Analyst - ESG Newsroom,Institutional Shareholder Services,0-3 Yrs,Mumbai,"[Analyst, Environmental science, Corporate gov...",7 Days Ago
...,...,...,...,...,...,...
175,Data Scientist,P S International HR Consultants,0-7 Yrs,Mumbai,"[Product management, Data analysis, Data model...",30+ Days Ago
176,Data scientist,Growthjockey,0-1 Yrs,Gurugram,"[Computer science, Data analysis, SAS, Machine...",30+ Days Ago
177,Business Analyst / Financial Analyst,Milestone Online Technology,0-1 Yrs,"Hybrid - Hyderabad, Chennai, Bengaluru","[Finance, Reporting, MIS Reporting, Excel Repo...",21 Days Ago
178,Business Analyst,Maverick Hat,0-3 Yrs,Pune,"[functional specifications, data analysis, mod...",8 Days Ago
179,Charted Accountant Business Analyst,Aavas Financiers,0-1 Yrs,Jaipur,"[Management Reporting, Finance, Accounts, Mana...",14 Days Ago

In [18]:
df.to_csv("Naukri_day3.csv")